FDE_ENV=development
FDE_API_HOST=127.0.0.1
FDE_API_PORT=8010
FDE_DATABASE_URL=mysql+pymysql://fde:fde_dev_password@127.0.0.1:3306/fde_workbench
FDE_REDIS_URL=redis://127.0.0.1:6379/2
FDE_JWT_SECRET=replace_with_a_random_value_of_at_least_32_characters
FDE_DESKTOP_API_URL=http://127.0.0.1:8010
